.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.square-button-failed {
    width: 80px;
    height: 80px;
    background-color: #e41a1c; /* red color */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.square-button-success {
    width: 80px;
    height: 80px;
    background-color: #4daf4a; /* Green color */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.square-button- {
    width: 80px;
    height: 80px;
    background-color: hsl(210, 3%, 26%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.banner {
    background-color: #0094ca;
    color: white;
    padding: 10px;
    text-align: center;
}

.ess-button {
    background-color: #0094ca;
}